# Python
**/__pycache__/
*.py[cod]
*$py.class
**/*.pyc

# Virtual Environment
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Project output
*.csv
*.json

# DS_Store
.DS_Store

# Distribution / Packaging
dist/
build/
*.egg-info/
# Already handled by **/__pycache__/ above

# Tests
htmlcov/
tests/coverage

# Env file
.env

*.db
